<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thirdleave.service.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.thirdleave.service.app.user.po.UserPO">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="age" jdbcType="INTEGER" property="age"/>
    </resultMap>

    <insert id="insert" parameterType="com.thirdleave.service.app.user.po.UserPO">
        insert into user (id, `name`, age)
        values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER})
    </insert>

    <select id="selectAll" resultMap="BaseResultMap">
        select id, `name`, age
        from user
    </select>
</mapper>
